[submodule "src/offboard-control"]
	path = src/offboard-control
	url = https://github.com/mdominmo/offboard-control.git
[submodule "src/px4-gz-positioning"]
	path = src/px4-gz-positioning
	url = https://github.com/mdominmo/px4-gz-positioning.git
